.jumbotron {
    max-height: 500px;
    border-radius: 40px;
    background-image: url("/img/fondo.jpg");
    
}   

.login{
    float: right;
    top: -20%;
}

.logo > img{
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px #02010a;
}

.down-logo > h3{
    font-family: 'Saira', sans-serif;
}

.div-iconos > div > .glyphicon{
    font-size: 6vh;
    float: left;
}

.div-iconos > div > a > h4{
    color: black;
    font-family: 'Saira', sans-serif;
}

.icon {
    -webkit-transition: transform 2s;
    -moz-transition: transform 2s;
    -o-transition: transform 2s;
    -ms-transition: transform 2s;
    transition:     transform 1s ease-in-out;
}

.icon:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

@-webkit-keyframes slide-in{
	0%{
		margin-top: 150%;
	}

	60%{
		margin-top: -5%;
	}

	100%{
		margin-top: 0%;
	}

	}

	.home{
		animation: slide-in 2s;
    }

    .item > img{
        width: 45em;
    }

    
