<template name="portal">
  <div class="container">
    <h1>PORTAL DE PRODUCTOS</h1>
    <hr>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group input-group-lg">
          <input type="text" id="nombre_buscar" class="form-control" name="producto" value="Laptop" placeholder="Buscar producto...">
          <span class="input-group-btn">
             <button class="btn btn-default form-producto" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
    <br>
    <!-- {{#if MostrarProductos }} -->
    <div class="row">
      <div class="col-md-2">
        <aside class="main-sidebar">
          <session class="sidebar">
            <p class="lead"> Filtros</p>
            <div class="list-group">
              <a href="#" class="list-group-item">Tiempo</a>
              <a href="#" class="list-group-item">Precio</a>
              <a href="#" class="list-group-item">Marca</a>
            </div>
          </session>
        </aside>
      </div>
      <div class="col-md-10">
        {{#if recomendado}}
        <aside class="main-sidebar">
          <session class="sidebar">
            <p class="lead">RECOMENDACION</p>
          </session>
          <button class="btn btn-default"> Mas resultados</button> 

        </aside>
        {{else}}
        <h2>listado de productos</h2>
        {{#each productos}}
        <div class="producto col-xs-4 col-lg-4">
          <div class="thumbnail">
            <div class="caption">
              <h4> {{nombre}} </h4>
              <p>
                <!-- {{ producto.proveedor }} -->
                <b>Cantidad:</b> {{ cantidad }}
                <b>Proveedor:</b> {{ proveedor }}
                <b>Marca:</b> {{ marca }}
                <hr>
                <b>Tiempo de entrega:</b> {{ tiempo }} Días
                <!-- logica de cuando singulares y plurales  -->
              </p>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p class="lead">$ {{ precio }}</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{/each}}

        <button class="btn btn-default"> Mas resultados</button> 
        {{/if}}
      </div>
    </div>
    <!-- {{else}} -->
    <div class="row">
      <div class="col-md-12">
        <h1> Agregar informacion.....</h1>
      </div>
    </div>
    <!-- {{/if}} -->
  </div>



</template>