<template name="central">
  <div class="container">
    {{#if usercurrent}}
    <!-- Portal de busqueda -->
    {{> portal}}
    <!-- Fin del protal -->
    {{else}}
    <div class="row">
      <h1>Bienvenido inicie sesion o registrese</h1>
      <div class="col-md-6">
        <!-- Inicio de session -->
        {{> login}}
      </div>
      <div class="col-md-6">
        <!-- Registro de empres -->
        {{> register}}
      </div>
    </div>
    {{/if}}
  </div>
</template>

<!-- template de login -->
<template name="login">
  <!-- <div class="container">
    <div class="row"> -->
      <div class="col-sm-6 col-md-8 col-md-offset-2">
        <div class="account-wall">
          <img class="profile-img" src="/img/one-click-login.png" alt="">
          <h3 align="center">OneClick</h3>
          <form class="form-signin">
            <input type="text" class="form-control" placeholder="Correo" required autofocus>
            <input type="password" class="form-control" placeholder="Contraseña" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
            <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">
                    <div class="check">Recuerdame</div>
                </label>
            <a href="#" class="pull-right need-help">¿Necesitas ayuda? </a><span class="clearfix"></span>
          </form>
        </div>
        <a href="#" class="text-center new-account">Registrate</a>
      </div>
    <!-- </div>
  </div> -->
</template>

<!-- template de registro -->
<template name="register">
    <!-- <div class="row main"> -->
    <div class="col-md-12">
      <div class="main-login main-center">
        <form class="" method="post" action="#">

          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Nombre</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="name" id="name" placeholder="Ingresar nombre" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Correo</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="email" id="email" placeholder="Ingresar correo" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="username" class="cols-sm-2 control-label">usuario</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="username" id="username" placeholder="Ingresar usuario" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Contraseña</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" id="password" placeholder="Ingresar contraseña" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="confirm" class="cols-sm-2 control-label">Confirmar contraseña</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirmar contraseña" />
              </div>
            </div>
          </div>

          <div class="form-group ">
            <a href="" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Registrar</a>
          </div>

        </form>
      </div>
 
  </div>

</template>

<!-- template de busquedad -->
<template name="portal">

    <h1>PORTAL DE PRODUCTOS</h1>
    <hr>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group input-group-lg">
          <input type="text" id="nombre_buscar" class="form-control" name="buscar" placeholder="Buscar producto...">
          <span class="input-group-btn">
             <button class="btn btn-default form-producto" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </div>
    </div>
    <br> {{#if buscando }} {{> loading}} {{else}}
    <div class="row">
      {{#if inventario}}
      <div class="col-md-2">
        <aside class="main-sidebar">
          <session class="sidebar">
            <p class="lead"> Filtros</p>
            <div class="list-group">
              <a class="fl-tiempo list-group-item">Tiempo</a>
              <a class="fl-precio list-group-item">Precio</a>
              <a class="fl-marca list-group-item">Marca</a>
            </div>
          </session>
        </aside>
      </div>
      {{/if}}
      <div class="col-md-10">
        {{#if inventario}}
        <h2>listado de productos disponible</h2>
        {{/if}} {{#each inventario}}
        <div class="producto col-xs-4 col-lg-4">
          <div class="thumbnail">
            <div class="caption">
              <h4> {{nombre}} </h4>
              <p>
                <!-- {{ producto.proveedor }} -->
                <b>Categoria:</b> {{ categoria }}
                <b>Disponible:</b> {{ cantidad }}
                <b>Proveedor:</b> {{ proveedor }}
                <hr>
                <b>Descripción: </b> {{ descripcion }}
                <hr>
                <b>Tiempo de entrega:</b> {{ tiempo }} Días
                <!-- logica de cuando singulares y plurales  -->
              </p>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p class="lead">$ {{ precio_unit }}</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <a href="#" class="btn btn-info"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{else}}
        <p class="alert alert-warning">No se encontró nada para {{consulta}}. Lo sentimos, {{empresa}} </p>
        {{/each}}
      </div>
    </div>
    {{/if}}
</template>

