<template name="demo">
  <div class="row">
    <div class="col-md-12">
      <h1>Modulo de Demo</h1>
      <ul>
        <li>
          <form class="local-producto-add">
            <input type="text" name="nombre" placeholder="nombre" required>
            <input type="submit" name="submit" value="Agregar nuevo producto local">
          </form>
        </li>
      </ul>
      <h2> Listado de productos locales.</h2>
      <ul>
        {{#each productos}}
        <li> {{nombre}} </li>
        {{/each}}
      </ul>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2> Ejemplo Formulario Automatico con validación </h2>
      <div class="col-md-6">
        <h3> Ejemplo normal no hace nada </h3>
        {{> quickForm schema=Schemas id="insertBookForm" type="normal"}}
      </div>
      <div class="col-md-6">
        <h3> Ejemplo con metodos insert de producto local</h3>
        {{> quickForm schema=Schemas id="FromAddProducto" type="method" meteormethod="productos.add"}}
      </div>
    </div>
  </div>
</template>