<template name="ordenes">
  <h1>Ordenes de Compras</h1>
  <div class="row">
    <div class="col-md-7 col-sm-7 col-xs-12 gutter">
      <ul class="list-group">
        <h1>Pedidos</h1>
        <li class="list-group-item list-group-item-warning">
          # orden Empresa Cantidad Producto Precio Ubicacion Envio
        </li>
      </ul>

    </div>
    <div class="col-md-5 col-sm-5 col-xs-12 gutter">
      <ul class="list-group">
        <h1>Ultimas Ventas</h1>
        <li class="list-group-item list-group-item-info">Empresa 88 <span class="badge">$12K</span></li>
        <li class="list-group-item list-group-item-info">Empresa 41 <span class="badge">$102K</span></li>
        <li class="list-group-item list-group-item-info">Empresa 51 <span class="badge">$99lK</span></li>
        <li class="list-group-item list-group-item-info">Empresa 10 <span class="badge">$1K</span></li>
      </ul>
    </div>
  </div>
</template>