
<template name="orden">
        <div class="container">
            <div class="row">
                <h1>Orden de compra</h1>
    
                <div class="jumbotron text-center">
                    <h2><strong>DETALLE DE COMPRA</strong></h2>
                </div>
                <div class="col border">
                    <strong>Fecha de Orden: </strong>
                  
                </div>
                <div class="col border">
                    <strong>Numero de orden: </strong> DEFINIR
                </div>
            </div>
            <div class="col border">
                <strong>Cliente: </strong> DEFINIR
            </div>
            <div class="col border">
                <strong>Proveedor: </strong> DEFINIR
            </div>
    
            <div class="col border">
                <p><strong>Direccion de envio: </strong> DEFINIR </p>
            </div>
            <div class="col border">
                <strong>Articulos: </strong> DEFINIR
            </div>
            <div class="col border">
                <strong>Precio: </strong> DEFINIR
            </div>
            <div class="col-sm-4 border">
                <strong>Subtotal: </strong> DEFINIR
            </div>
            <div class="col-sm-4 border">
                <strong>I.T.B.M.S: </strong> DEFINIR
    
                <div class="col-sm-4 border">
                    <strong>Total: </strong> DEFINIR
                </div>
    
                <div class="col border">
                    <strong>Tiempo de entrega: </strong> DEFINIR
                </div>
            </div>
    
            <div class="col">
                <button type="button" class="btn btn-danger">Rechazar</button>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-success">Confirmar</button>
            </div>
        </div>
    </template>