<template name="producto">
  <div class="container">
    <h1>Modulo de producto</h1>
    <hr>
    <div class="row">
      <button class="dropbtn" data-toggle="modal" data-target="#AgregarProducto"><span class="glyphicon glyphicon-plus fa-5x"></span></button>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Nombre</th>
              <th>Precio</th>
              <th># Cantidad</th>
              <th>Proveedor</th>
              <th>Marca</th>
              <th>Dias</th>
              <th>Accion</th>
            </tr>
            {{#each productos}}
            <tr>
              <td>{{ nombre }}</td>
              <td> ${{ precio }}</td>
              <td>{{ cantidad }}</td>
              <td>{{ proveedor }}</td>
              <td>{{ marca }}</td>
              <td>{{ tiempo }}</td>
              <td>
                <a href="#" class="btn btn-info" data-toggle="modal" data-target="#ActualizarProducto" id="editar" >Editar <span class="glyphicon glyphicon-edit"></span></a>
                <a href="#" data-id="{{_id}}" id="eliminar" class="btn btn-danger">Eliminar<span class="glyphicon glyphicon-remove"></span></a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="modal fade" id="AgregarProducto" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content center">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Agregar Nuevo Producto</h4>
              </div>
              <div class="modal-body center">
                {{> quickForm buttonContent="Agregar" schema=Schemas type="method" meteormethod="productos.agregar" id="ProductoAgregar"}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{#if ProductoInfo}}
      <!-- falta el proceso de actualizacion  -->
      <!-- <div class="col-md-4">
        <div class="modal fade" id="ActualizarProducto" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content center">
              <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Actualiza Producto</h4>
              </div>
              <div class="modal-body center">
                {{> quickForm 
                  doc=ProductoInfo 
                  buttonContent="Actualizar" 
                  schema=Schemas id="ProductoActualizar"
                  type="method" meteormethod="productos.actualizar" 
                }}
              </div>
            </div>
          </div>
        </div>
      </div> -->
      {{/if}}
    </div>
  </div>
</template>